{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Sentilens</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.2/nouislider.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css">

        <link href="{% static "sentilens/css/style.css" %}" rel="stylesheet">
    </head>
    <body class="loading">
        <div class="loader">
            <span class="spinner" role="status" aria-hidden="true"></span>
        </div>
        <script id="myc-tmpl" type="text/html">
            <div class="toggle leaflet-bar">
                <a href="#" title="Set year for which data should be shown">
                    <i class="far fa-clock"></i>
                </a>
            </div>

            <div class="content leaflet-bar">
                <div class="header row">
                    <span>Show data for year</span>
                    <button class="close" aria-label="Close">
                        <i class="icon fas fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="body row">
                    <div class="slider"></div>
                    <span class="year">
                        2018
                    </span>
                </div>
            </div>
        </script>
        <div id="map"></div>

        <!-- scripts go here -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.2/nouislider.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
        <script src="{% static "sentilens/js/main.js" %}"></script>
    </body>
</html>