body {
    /*
     * `height: 100vh;` no longer does the trick, but this does.
     *
     * source: https://twitter.com/lnplum/status/838793396936376321
     * via: https://nicolas-hoizey.com/2015/02/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers.html
     */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}

#map {
    height: 100%;
}

.hidden {
    display: none !important;
}

.row {
    display: flex;
    align-items: center;
}

.leaflet-control-scale-line {
    margin-left: auto;
}

/****************
 *    loader    *
 ****************/
body.loading .loader {
    opacity: 1;
    animation: none;
}

.loader {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: flex;
    animation: hide-loader .8s ease-in-out forwards;

    /* hide loader leftovers after running `hide-loader` */
    overflow: hidden;
}

/*
 * spinner code based on MDBootstrap's spinner and the one shown at
 * W3Schools' How To Make a Loader
 * (https://www.w3schools.com/howto/howto_css_loader.asp)
 */
.loader .spinner {
    margin: auto;
    border: .6rem solid #000;
    border-right-color: transparent;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    animation: spin .75s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

@keyframes hide-loader {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        width: 100%; height: 100%;
    }
    100% {
        width: 0; height: 0;
    }
}

/********************************
 *    MapYearControl styling    *
 ********************************/
.year-control {
    display: flex;
}

.year-control .toggle {
    margin-bottom: auto;
}

.year-control .toggle a {
    font-size: 1rem;
}

.year-control .content {
    background-color: #fff;
    margin-left: 10px;
}

.year-control .content .header {
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
    padding: 5px 10px;
}

.year-control .content .header .close {
    margin-left: auto;
}

.year-control .content .header button.close {
    display: flex;
    height: 20px;
    width: 20px;
    border: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
}

.year-control .content .header button.close:hover {
    background-color: #3b3b3b;
}

.year-control .content .header button.close .icon {
    font-size: .6rem;
    margin: auto;
}

.year-control .content .header,
.year-control .content .row {
    margin-bottom: 10px;
}

.year-control .content .body {
    padding: 0 10px;
}

.year-control .content .body .slider {
    width: 150px;
    margin: 0 10px;
}

.year-control .content .body .slider.noUi-horizontal {
    height: 12px;
}

.year-control .content .body .slider .noUi-handle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: -5px;
    right: -10px;
}

.year-control .content .body .slider .noUi-handle:before,
.year-control .content .body .slider .noUi-handle:after {
    display: none;
}

.year-control .content .body .year {
    margin-left: 15px;
    font-weight: bold;
    width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}